<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserProfile</key>
	<dict>
		<key>emergencyNumber</key>
		<string>5558675309</string>
		<key>weight</key>
		<integer>175</integer>
		<key>gender</key>
		<string>male</string>
	</dict>
</dict>
</plist>
