<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserProfile</key>
	<dict>
		<key>limit</key>
		<integer>3</integer>
		<key>limitState</key>
		<true/>
		<key>firstRun</key>
		<false/>
		<key>includeLocation</key>
		<true/>
		<key>helpMessage</key>
		<string>I drank too much and I need help</string>
		<key>emergencyNumber</key>
		<string>5558675309</string>
		<key>weight</key>
		<integer>175</integer>
		<key>gender</key>
		<string>male</string>
		<key>latitude</key>
		<string></string>
		<key>longitude</key>
		<string></string>
	</dict>
</dict>
</plist>
